table,
th,
tr,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}
.app-container {
  display: flex;
  justify-content: flex-start;
}
.hovered-squares {
  display: flex;
  flex-direction: column;
  padding: 10px;
  p {
    margin: 5px 20px 5px 0;
  }
  .hs-body {
    height: 40vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
.game-container {
  margin: 20px 0 0 20px;
}
select {
  padding: 3px 10px 3px 10px;
}
.game-controllers {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
button {
  margin-left: 50px;
  padding: 5px 10px 5px 10px;
  color: white;
  background-color: rgb(65, 65, 223);
  border: none;
}
table {
  margin-top: 20px;
}
